{
  "parser": "babel-eslint",
  "extends": [
    "plugin:promise/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "env": {
    "jest": true
  },
  "plugins": [
    "promise",
    "jest",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  }
}
